@font-face {
    font-family: 'coolvetica';
    src: url('/public/fonts/coolvetica/Coolvetica RG.otf') format('opentype');
  }

  @font-face {
    font-family: 'Louis George Cafe';
    src: url('/public/fonts/louis_george_cafe/Louis George Cafe.ttf') format('truetype');
  }

  :root{
    --preto: #010101;
    --branco: #FEFEFE;
    --rosa:#FF6B6B ;
    --amarelo:#FFD93D;
    --verde:#6BCB77;
    --azul:#4D96FF;
    --rosaclaro:#FFE7E7 ;
    --amareloclaro:#FFFCD3;
    --verdeclaro:#D8FFDC;
    --azulclaro:#C8FCFF ;
    
  }

#root{
    width: 100%;
    padding: 0.6rem;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--rosa);
}

.loginContainer{
    max-width: 410px;
    padding: 2rem 1.5rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    background:var(--branco);
    box-shadow: 0 10px 20px rgba(0,0,0,0);
    text-align: center;

}

.loginContainer .formTitle{
    font-family: Coolvetica;
    text-align: center;
    font-size: 1.37rem;
    margin-bottom: 1.87rem;
    color: var(--rosa);
}



 .formLogin .inputWrapper{
    position: relative;
    height: 35px;
    width: 100%;
    margin-bottom: 1.5rem;
}

.formLogin .inputWrapper .inputField{
    font-family: Louis George Cafe;
    height: 54px;
    width: 100%;
    border-radius: 0.31rem;
    border: 3px solid var(--rosa);
    padding: 0 1.25rem 0 3.12rem;
    transition: 2.0 ease;
    outline: none;
}

.formLogin .inputWrapper .inputField:focus{
  border-color:var(--azul);
}

.formLogin .inputWrapper svg{
  fill: var(--rosa);
  position: absolute;
  top: 75%;
  left: 0.9rem;
  pointer-events: none;
  transform: translateY(-50%);
  height: 25px;
}

.formLogin .inputWrapper .inputField:focus ~svg{
  fill:var(--azul);
}

.formLogo{
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.formLogin button{
  width: 100%;
  height: 54px;
  cursor: pointer;
  outline: none;
  color: var(--branco);
  font-size: 1.125rem;
  background: var(--rosa);
  margin-top: 2.19rem;
  border-radius: 0.31rem;
  border-color: var(--branco);
  font-family: Louis George Cafe;
  transition: 2.0 ease;
}

.formLogin button:hover{
  background: var(--rosaclaro);
  color: var(--rosa);
}

.signUp{
  text-align: center;
  font-weight: 500;
  margin: 1.75rem 0 0.31rem;
}

.signUp a{
  color: #FF6B6B;
  font-weight: 500;
  text-decoration: none;
}

.signUp a:hover{
  text-decoration: underline;
}

