@font-face {
    font-family: 'coolvetica';
    src: url('/public/fonts/coolvetica/Coolvetica RG.otf') format('opentype');
  }

  @font-face {
    font-family: 'Louis George Cafe';
    src: url('/public/fonts/louis_george_cafe/Louis George Cafe.ttf') format('truetype');
  }

  :root{
    --preto: #010101;
    --branco: #FEFEFE;
    --rosa:#FF6B6B ;
    --amarelo:#FFD93D;
    --verde:#6BCB77;
    --azul:#4D96FF;
    --rosaclaro:#C8FCFF ;
    --amareloclaro:#FFFCD3;
    --verdeclaro:#D8FFDC;
    --azulclaro:#C8FCFF ;
  }

body{
    display: flex;
    font-family: Louis George Cafe;
}

.wrapperQuizzes {
    display: flex;
    gap: 2rem; 
    width: 100%;
    align-items: flex-start; 
}


.formQuizzes,
.tableQuizzes {
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    background: var(--branco);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05); 
}

.formQuizzes {
    flex-basis: 410px;
    flex-shrink: 0;
}

.tableQuizzes {
    flex-grow: 1; 
    min-height: 400px; 
}


.formTitle {
    font-family: 'Coolvetica', sans-serif;
    text-align: center;
    font-size: 1.37rem;
    margin-bottom: 1.87rem;
    color: var(--rosa);
}

.inputWrapper {
    position: relative;
    
    width: 100%;
    margin-bottom: 1.5rem;
}

.inputField {
    font-family: 'Louis George Cafe', sans-serif; 
    height: 54px;
    width: 100%;
    border-radius: 0.31rem;
    border: 3px solid var(--rosa);
    
  
    padding: 0 1.25rem; 
    
    transition: all 0.3s ease; 
    outline: none;
}

.inputField:focus {
    border-color: var(--azul);
}

.inputField[type="number"]::-webkit-outer-spin-button,
.inputField[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.inputField[type="number"] {
    -moz-appearance: textfield;
}

.wrapperQuizzes button {
    width: 100%;
    height: 54px;
    cursor: pointer;
    outline: none;
    color: var(--branco);
    font-size: 1.125rem;
    background: var(--verde);
    margin-top: 2.19rem;
    border-radius: 0.31rem;
    border: 2px solid var(--verde);
    font-family: 'Louis George Cafe', sans-serif;
    transition: all 0.3s ease;
    font-weight: bold;
}

.wrapperQuizzes button:hover {
    background: var(--verdeclaro);
    color: var(--verde);
}
.tableContainer {
    width: 100%;
    overflow-x: auto; 
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-family: 'Louis George Cafe', sans-serif;
    
}

.table th,
.table td {
    padding: 0.8rem 1rem;
    border: colapse;
    text-align: left;
    color: #333;
    vertical-align: middle;
    white-space: nowrap; 
}

.table td[data-label="Descrição"] {
    white-space: normal; 
    min-width: 250px; 
}

.table th {
    background-color: var(--rosa);
    color: var(--branco);
    font-weight: bold;
    font-size: 0.95rem;
}



.tableImage {
    width: 70px; 
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
    display: block;
}


.table th:last-child {
    position: sticky;
    right: 0;
    z-index: 2; 
    background-color: var(--amarelo); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05); 
}


.table td:last-child {
    position: sticky;
    right: 0;
    z-index: 1; 
    background-color: var(--branco); 
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05); 

}


.tableContainer .actionButton {
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.85rem;
    transition: all 0.3s ease;
    font-family: 'Louis George Cafe', sans-serif;
    color: var(--branco);
    margin-right: 5px;
    margin-bottom: 5px;
    width: 80px; 
    text-align: center;
}

.tableContainer .excluirButton {
    background-color: var(--rosa); 
}
.tableContainer .excluirButton:hover { background-color: #e05252; }

.tableContainer .editarButton {
    background-color: var(--azul);
}
.tableContainer .editarButton:hover { background-color: #2a7be0; }

.switchLabel {
    font-weight: bold;
    color: #333;
    font-size: 1rem;
}

.hiddenInput {
    display: none; 
}

.uploadButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Louis George Cafe', sans-serif;
    height: 54px;
    width: 100%;
    border-radius: 0.31rem;
    border: 3px solid var(--rosa);
    padding: 0 1.25rem;
    background: var(--branco);
    
    color: var(--rosa);
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.uploadButton:hover {
    background: var(--rosa);
    border-color: var(--rosa);
    color: var(--branco);
}

.submitButton {
    width: 100%;
    height: 54px;
    cursor: pointer;
    outline: none;
    color: var(--branco);
    font-size: 1.125rem;
    background: var(--rosa);
    margin-top: 1rem;
    border-radius: 0.31rem;
    border: 2px solid var(--rosa);
    font-family: 'Louis George Cafe', sans-serif;
    transition: all 0.3s ease;
    font-weight: bold;
}

.submitButton:hover {
    background: var(--rosaclaro);
    color: var(--rosa);
}

.perguntaWrapper {
    display: flex;       
    align-items: center;
    gap: 0.5rem;         
}

.perguntaInput {
    flex-grow: 1; 
}

.respostaSelect {
    flex-basis: 100px; 
    flex-shrink: 0;   
}

.submitButton {
    width: 100%;
    height: 54px;
    cursor: pointer;
    outline: none;
    color: var(--branco);
    font-size: 1.125rem;
    background: var(--rosa);
    margin-top: 1rem;
    border-radius: 0.31rem;
    border: 2px solid var(--rosa);
    font-family: 'Louis George Cafe', sans-serif;
    transition: all 0.3s ease;
    font-weight: bold;
}

.submitButton:hover {
    background: var(--rosaclaro);
    color: var(--rosa);
}